spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/vectoros
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
    show-sql: true

  flyway:
    enabled: true
    locations:
      - classpath:db/migration

  telegram:
    bot:
      token: "8559625460:AAGnvHa6JdZYQZb_w7z4Rbesw31xYFZ2wcY"
      webapp:
        url: "https://prelatic-reticent-pasty.ngrok-free.dev"

server:
  port: 8080
